# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# R
.Rhistory
.RData
.Rproj.user/
*.Rproj
*.Rcheck/
*.tar.gz
/.package-library/
/.pkg-library/
/.tmp-lib/

# Python
__pycache__/
*.pyc
.venv/
.env

# Data outputs (adjust)
*.log
*.tmp
omnipathr-log/
